{% extends 'base.html.twig' %}

{% block title %}Contact Controller!
{% endblock %}

{% block body %}
	{% include 'includes/header.html.twig' %}
	<div class="container internalContainer p-0">
        <h1 class="internalTitle">
            Contact
        </h1>

		<div {{ react_component('Contact', {user: app.user|serialize(format = 'json')} ) }}>
			Loading...
			<i class="fas fa-cog fa-spin fa-3x"></i>
		</div>
	</div>


	{% include 'includes/footer.html.twig' %}
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('@contact') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('@contact') }}
{% endblock %}
