{% extends 'base.html.twig' %}

{% block title %}Login Controller{% endblock %}

{% block body %}
	{% include 'includes/headerregister.html.twig' %}
	<div class="container internalContainer p-0">
        <h1 class="internalTitle">
            Connexion
        </h1>{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		
		<div class="container-form">
			<form id="login_form" method="POST">
				<div class="form-group">
				<input type="email" class="form-control" id="auth_email" name="auth_email" value="" placeholder="Email" />
				</div>
				<div class="form-group">
				<input type="password" class="form-control" id="auth_password" name="auth_password" value="" placeholder="Mot de passe" />
				</div>
				<input type="hidden" id="auth_action" name="auth_action" value="login">
				<a href="/register" class="d-block text-white">Je n'ai pas de compte, je m'inscris</a>
				<button type="submit" class="rounded-pill px-3 btn btn-sm bg-orange text-white big-button">Je me connecte</button>
			</form>
		</div>
	</div>

{% include 'includes/footerregister.html.twig' %}
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('@auth') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('@auth') }}
{% endblock %}
