{% extends 'base.html.twig' %}

{% block title %}Register Controller
{% endblock %}

{% block body %}
	{% include 'includes/headerregister.html.twig' %}
	<div class="container internalContainer p-0">
        <h1 class="internalTitle">
            Inscription
        </h1>

		<div {{ react_component('Register', {user: app.user|serialize(format = 'json')} ) }}>
			Loading...
			<i class="fas fa-cog fa-spin fa-3x"></i>
		</div>
	</div>

{% include 'includes/footerregister.html.twig' %}
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('@auth') }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	{{ encore_entry_script_tags('@auth') }}
{% endblock %}
